body {
    background: #234;
    color: white;
    font-family: verdana;
} 

section {
    padding: 40px;
    margin: 100px 0px;
}

.one {
    background-color: red;
}    

.two {
    background-color: blue;
}    

.three {
    background-color: yellow;
    color: black; 
}    
    